@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: rgb(101, 101, 116);
  border-radius: 3px;
}
body {
  line-height: 1.6;
}
.ant-picker-input input {
  font-size: 16px;
}
